body {
  font-family: 'Arvo', serif;
  background-color: lightgray;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}
